*{
	padding: 0;
	margin: 0;
}
.wrapper{
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}
.level1{
	background:#4285f4;
	list-style: none;
	font-size: 1.5em;
	padding: 0.3em 0.5em;
	width: 12%;
	border-right: 1px solid #aaa;
	position: relative;
	border-radius: 0.3em;
	opacity: 0.9;
	box-shadow: 0 0 10px 2px #aaa;
	text-align: center;
}
li:last-child{
	border-right: none;
}
a{
	color: white;
	text-decoration: none;
}



.level1:hover{
	/*transition: rotate(20deg);
	-webkit-transform: rotate(20deg);*/
	animation-name: shakesection;
	animation-delay: 0.1s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;/*停留在最后一帧*/
	z-index: 1;
	opacity: 1;
	}
@keyframes shakesection{
		0%{
			-webkit-transform: rotate(10deg);
			
		}
		20%{
			-webkit-transform: rotate(-20deg);
			
		}	
		40%{
			-webkit-transform: rotate(20deg);
			
		}
		60%{
			-webkit-transform: rotate(-20deg);
			
		}
		80%{
			-webkit-transform: rotate(20deg);
			
		}
		100%{
			-webkit-transform: rotate(-10deg);
			-webkit-transform:scale(1.2,1.2);
		}
}
/*.level
.level1:hover ul li*/
#pic{
	width: 400px;
	height: 300px;
	margin:0 auto;
	border: 1px solid red;
	
}
img{
	width: 10%;
	position: relative;
	left: 180px;
}
img:hover{
	animation-name: move;
	animation-duration: 7s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes move{
	0%{
		
		
	}
	20%{
		-webkit-transform: rotate(72deg);
		-webkit-transform:translate(100px,260px);

	}
	40%{
		-webkit-transform: rotate(144deg);
		-webkit-transform:translate(-180px,130px);
	}
	60%{
		-webkit-transform:rotate(216deg);
		-webkit-transform:translate(180px,130px);
	}
	80%{
		-webkit-transform: rotate(288deg);
		-webkit-transform:translate(-100px,260px);
	}
	100%{
		-webkit-transform: rotate(360deg);
		-webkit-transform:translate(0,0);
		
	}
}
pre{
	font-size: 14px;
}