/*
导航栏部分
 */

.nav{
    /*min-width: 720px;*/
    position: relative;
    height: 80px;
    background: rgb(48,194,255);
    box-shadow: 0 5px 5px rgba(0,0,0,.5);
}
.nav .site_title{
    display: inline-block;
    font-size: 80px;
    height: 100%;
    line-height: 80px;
    font-weight: 500;
    color: rgba(0,0,0,0);
    background-image: url(../../images/bg.jpg);
    -webkit-background-clip: text;
    padding: 0 20px;
    user-select: none;

}
.self{
    display: inline-block;
    height: 100px;
    width: 100px;
    overflow: hidden;
    position: absolute;
    right: 50px;
    bottom: 0;
    transform: translateY(50%);
    border-radius: 50px;
    transition-property: box-shadow,transform;
    transition-duration: .3s;
}
.self:hover{
    transform: translateY(50%) scale(1.02);
    box-shadow: 0 3px 5px rgba(0,0,0,.5) ;
}
.self img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.nav_catagory{
    height: 100%;
    display: inline-block;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}
.nav_catagory .nav_item{
    cursor: default;
    margin: 0 15px;
    padding: 0 20px;
    display: inline-block;
    line-height: 100px;
    height: 100%;
    font-size: 24px;
    color: #333;
    font-weight: 200;
    position: relative;
}
.nav_item:before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #000;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .2s;
    position: absolute;
    top: 90%;
    left: 0;
}
.nav_item:hover:before{
    opacity: 1;
}



/*笔记部分*/

.page_task{
    margin-bottom: 50px;
    margin-top: 50px;
    /*min-height: 720px;*/
    /*min-width: 504px;*/
    border-radius: 20px;
    background: rgba(48,194,255,.2);
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
    padding: 20px 50px;
    box-sizing: border-box;
}
.page_task .task_item{
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 10px 0;
}
.page_task .task_item .before{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background-image: url("../../images/bg.jpg") ;
    filter:blur(20px);
    margin: -20px;
    background-size: 1920px 1080px;
    z-index: -1;
}
.page_task .task_item .after{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background: rgba(48,194,255,.5);
    z-index: -1;
}
.task_item .task_item_title{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-size: 34px;
    height: 40px;
    font-weight: 200;
    border-bottom: 1px solid black;
    line-height: 40px;
    padding: 0 20px;
}
.task_item .task_item_content{
    font-family: "Microsoft YaHei UI", Arial, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding: 0 20px;
}
.task_item .task_item_info{
    border-top: 1px solid black;
    text-align: right;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding-right: 20px;
}
.task_item_info .task_item_info_date,.task_item_info_author{
    padding: 5px;
    display: inline-block;
    font-size: 16px;
    font-weight: 200;

}


@media  screen and (min-width: 721px){
    .page_task{
        margin-left:  15%;
        margin-right: 15%;
        width: 70%;
    }
    .nav{
        width: 100%;
    }
}
@media  screen and (max-width: 720px) and (min-width: 421px){
    .page_task{
        width: 504px;
        margin-left: auto;
        margin-right: auto;
    }
    .nav{
        width: 720px;
    }
}
@media  only screen and (max-width: 420px){
    body{
        background: #30c5ff;
        /*background: #fff;*/
    }
    .nav .site_title{
        display: none;
    }
    .self{
        display: none;
    }
    .page_task .task_item .before{
        background-image: none;
    }
    .page_task .task_item{
        background: rgba(50,50,50,.2);
    }
    .page_task{
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .nav_catagory .nav_item{
        margin: 0 0;
        padding: 0 0;
        width: 50%;
        text-align: center;
    }
    .nav_catagory{
        width: 100%;
    }
}