html{
    height: 100%;
}
body{
    font-family:sans-serif;
    font-size: large;
    text-decoration: none;
    height: 100%;
    background-image: url("../../images/0112a0564c47006ac7251c94e1cdf3.jpg@900w_1l_2o_100sh.jpg");
    background-repeat: no-repeat;
    background-size:cover;

}
a{
    text-decoration: none;
}
ul#headerUl {
    /*position: absolute;*/
    padding: 5% 0 0 27%;
    font-size: 165%;
    color: rgba(52, 48, 234, 0.58);
}

.headerLi{
    float: left;
    list-style-type: none;
    padding-left: 13%;
    color: #464040;
}
